<body>
    <!-- REGISTER BODY 
        idea of working
            · central form with 2 inputs
            · submit button
    -->
    <div [ngClass]="'banner-area'">
        <div class='text-center' [ngClass]="'centered-div'" id='register'>
            <form [formGroup]= "registerForm"  class="form-singup justify-content-center" id='singup-form'>
                <br>
                <!-- Username -->
                <label>     Username    </label>
                <br>
                <input required type="text" formControlName="usernameinput" #usernameinput id='username' placeholder="Enter a Username">
                
                <!-- Email -->
                <br>
                <br>
                <label>       Email     </label>
                <br>
                <input required type="text" formControlName="emailinput" #emailinput id='email' placeholder="Enter an Email">
                
                <!-- Password -->
                <br>
                <br>
                <label>      Password   </label>
                <br>
                <input required type="text" formControlName="passwordinput" #passwordinput id='password' placeholder="Enter a Password">
                
                <!-- Button -->
                <br>
                <br>
                <button type="button" class="btn btn-outline-info" (click)="registerOnClick()"> Submit </button>
                
            </form>
        </div>
    </div>
</body>